name: taos-ws-py-audit

on:
  schedule:
    - cron: "0 0 * * *"
  push:
    paths:
      - "taos-ws-py/Cargo.toml"
      - "taos-ws-py/Cargo.lock"
      - ".github/workflows/taos-ws-py-audit.yml"

permissions:
  contents: read

jobs:
  cargo-deny:
    permissions:
      checks: write
      contents: read
      issues: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: EmbarkStudios/cargo-deny-action@v2
        with:
          manifest-path: taos-ws-py/Cargo.toml
