name: Test TDengine cases

on:
  push:
    branches:
      - 'main'
      - '3.0'
  pull_request:
    branches:
      - 'main'
      - '3.0'

jobs:
  test:
    runs-on: ubuntu-20.04
    steps:
      - name: Check out repository
        uses: actions/checkout@v3


      - name: Build tools
        run: |
          sudo apt-get update -y
          sudo apt-get install -y build-essential cmake libgeos-dev


      - name: Set up python
        run: |
          python --version


      - name: Cache Poetry
        id: cache-poetry
        uses: actions/cache@v2.1.5
        with:
          path: ~/.poetry
          key: ubuntu-20.04-poetry

      #----------------------------------------------
      #  -----  install & configure poetry  -----
      #----------------------------------------------
      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true
          installer-parallel: true

      #----------------------------------------------
      #       load cached venv if cache exists
      #----------------------------------------------
      - name: Load cached venv
        id: cached-poetry-dependencies
        uses: actions/cache@v2
        with:
          path: .venv
          key: venv-${{ runner.os }}-${{ hashFiles('**/poetry.lock') }}

      #----------------------------------------------
      # install dependencies if cache does not exist
      #----------------------------------------------
      - name: Install dependencies
        if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'
        run: poetry install --no-interaction --no-root

      #----------------------------------------------
      # install your root project, if required
      #----------------------------------------------
      - name: Install library
        run: poetry install --no-interaction

      #----------------------------------------------
      # build your TDengine 3.0
      #----------------------------------------------
      - name: Determine TDengine branch
        uses: haya14busa/action-cond@v1
        id: determine-branch
        with:
          cond: ${{ github.base_ref == 'main' }}
          if_true: 'main'
          if_false: '3.0'

      - name: Checkout tdengine
        uses: actions/checkout@v2
        with:
          repository: "taosdata/TDengine"
          path: "TDengine_v3"
          ref: ${{ steps.determine-branch.outputs.value }}

      - name: Build TDengine 3.0
        run: |
          pwd
          git branch -vv
          # ls -la ~/.cos-local.2/
          # ls -la ~/.cos-local.2/lib/
          # ls -la ~/.cos-local.2/lib64/
          cd TDengine_v3
          rm build -rf
          mkdir build
          cd build
          cmake ../ -DBUILD_JDBC=false -DBUILD_CONTRIB=false -DBUILD_DEPENDENCY_TESTS=false -DCMAKE_INSTALL_PREFIX:PATH=`realpath ../../local/` -DBUILD_HTTP=false
          make -j4
          sudo make install
          ls -alh /etc/taos/
          cd ../../


      #----------------------------------------------
      #              pip install dependencies
      #----------------------------------------------
      - name: Pip install dependencies
        run: |
          cd TDengine_v3/tests/
          pip3 install pip --upgrade
          pip3 install -r requirements.txt
          pip3 install pyopenssl --upgrade
          pip3 install decorator
          pip3 install tzlocal


      #----------------------------------------------
      #              run test suite
      #----------------------------------------------
      - name: Test TDengine 3.0
        run: |
          pip3 install taos-ws-py
          cd TDengine_v3/tests/system-test
          python3 ./test.py -f 1-insert/insert_drop.py
          python3 ./test.py -f 2-query/floor.py
          python3 ./test.py -f 7-tmq/basic5.py


      - name: 'Upload taosd logs'
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: log-v3-taosd
          path: /tmp/taos/v3/log/
          retention-days: 1
